html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
}
.app-start h1{
    text-align:center;
    displaY:inline-block;
    font-size:3.8rem;
    text-align:center;
    margin-top:20px;
    width:100%;
}